extends layout

block content
  .text-center.mb-5
    h1 Campus Buildings
    p.lead Explore MTU buildings and student facilities.

  .row.justify-content-center
    each building in buildings
      .col-md-4.mb-4
        .card.shadow-sm
          .card-body
            h4.card-title= building.name
            p.text-muted= building.address

            if building.facilities
              p.mb-2
                strong Facilities:
              ul
                each fac in building.facilities
                  li= fac

            a.btn.btn-primary.mt-3(href=`/building/${building._id}`) View Details →
