extends layout

block content
  .row.justify-content-center
    .col-md-4
      .card.p-4.shadow
        h2.text-center.mb-4 Login

        if error
          .alert.alert-danger= error

        form(action="/login", method="POST")

          .mb-3
            label(for="identifier") Email or T Number
            input.form-control(type="text", id="identifier", name="identifier", required)

          .mb-3
            label(for="password") Password
            input.form-control(type="password", id="password", name="password", required)

          button.btn.btn-primary.w-100(type="submit") Login
