extends layout

block content
  .row.justify-content-center
    .col-md-6
      .card.p-4.shadow
        h2.text-center.mb-4 Login

        form(action='/login', method='POST')
          .mb-3
            label.form-label(for='tNumber') T Number or Email
            input.form-control(type='text', id='tNumber', name='tNumber', required)

          .mb-3
            label.form-label(for='password') Password
            input.form-control(type='password', id='password', name='password', required)

          button.btn.btn-primary.w-100(type='submit') Login

        p.text-center.mt-3
          | Don’t have an account?
          a(href='/register') Register here
