extends layout

block content
  h1 StudentInc Registration Form

  form(action='/submit', method='POST')
    fieldset
      legend Student Information

      .form-group
        label(for='tNumber') T Number:
        input(type='text', id='tNumber', name='tNumber', pattern='T[0-9]{8}', placeholder='T12345678', required)

      .form-group
        label(for='fullName') Full Name:
        input(type='text', id='fullName', name='fullName', required)

      .form-group
        label(for='address') Address:
        input(type='text', id='address', name='address', required)

      .form-group
        label(for='phone') Phone Number:
        input(type='tel', id='phone', name='phone', pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}', placeholder='123-456-7890', required)

      .form-group
        label(for='email') Email Address:
        input(type='email', id='email', name='email', required)

      .form-group
        button(type='submit') Submit Registration

  p
    | Have an account?
    a(href='/login') Login here
